<!--不带分页的运单列表,在批量提货/批量提款时使用-->
<table class="table" id="bills_table" >
  <thead>
    <tr class='text-center'>             
      <th>票据日期</th>
      <th>票号</th>
      <th>货号</th>
      <th>发货地/到货地</th>
      <th>发货人-收货人</th>
      <th>付款方式</th>
      <th class="carrying_fee">运费</th>
      <th class="carrying_fee_th" style='display : none;'>提付运费</th>
      <th class="goods_fee">代收货款</th>
      <th class="th_amount" style='display : none;'>提货应收</th>
      <th class="k_hand_fee" style='display : none;'>扣手续费</th>
      <th class="k_carrying_fee" style='display : none;'>扣运费</th>
      <th class="act_pay_fee" style='display : none;'>实提货款</th>
      <th class="insured_fee">保价费</th>
      <th class="from_short_carrying_fee" style='display : none;'>发货地短途运费</th>
      <th class="to_short_carrying_fee" style='display : none;'>到货地短途运费</th>
      <th class="note">备注</th>
      <th class="state">状态</th>
      <th class="send state" style='display : none;'>送货状态</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody id='bills_table_body'></tbody>
  <tfoot>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>总计</td>
      <td><span id="count"></span></td>
      <td class="carrying_fee"><span id="sum_carrying_fee"></span></td>
      <td class="carrying_fee_th" style='display : none;'><span id="sum_carrying_fee_th"></span></td>
      <td class="goods_fee"><span id="sum_goods_fee"></span></td>
      <td class="th_amount" style='display : none;'><span id="sum_th_amount"></span></td>
      <td class="k_hand_fee" style='display : none;'><span id="sum_k_hand_fee"></span></td>
      <td class="k_carrying_fee" style='display : none;'><span id="sum_k_carrying_fee"></span></td>
      <td class="act_pay_fee" style='display : none;'><span id="sum_act_pay_fee"></span></td>
      <td class="insured_fee"><span id="sum_insured_fee"></span></td>
      <td class="from_short_carrying_fee" style='display : none;'><span id="sum_from_short_carrying_fee"></span></td>
      <td class="to_short_carrying_fee" style='display : none;'><span id="sum_to_short_carrying_fee"></span></td>
      <td class="note">&nbsp;</td>
      <td class="state">&nbsp;</td>
      <td class="send_state" style='display : none;'>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tfoot>
</table>
