<h1>Listing transit_bills</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transit_bills.each do |transit_bill| %>
  <tr>
    <td><%= link_to 'Show', transit_bill %></td>
    <td><%= link_to 'Edit', edit_transit_bill_path(transit_bill) %></td>
    <td><%= link_to 'Destroy', transit_bill, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transit bill', new_transit_bill_path %>
