<h1>Editing change_insured_rate_from_carrying_bill</h1>

<%= render 'form' %>

<%= link_to 'Show', @change_insured_rate_from_carrying_bill %> |
<%= link_to 'Back', change_insured_rate_from_carrying_bills_path %>
