<p id="notice"><%= notice %></p>

<p>
  <b>Insured rate:</b>
  <%= @change_insured_rate_from_carrying_bill.insured_rate %>
</p>


<%= link_to 'Edit', edit_change_insured_rate_from_carrying_bill_path(@change_insured_rate_from_carrying_bill) %> |
<%= link_to 'Back', change_insured_rate_from_carrying_bills_path %>
