<!--动态toolbar-->
<div class="secondary-navigation">
  <ul class="wat-cf">
    <%if can? :read_arrive,resource_class%>
      <li class="first">
        <%= link_to image_tag("grid.png",:alt => "#{resource_class.model_name.human}列表") , collection_path("search[state_eq]" => "shipped"),:title => "#{resource_class.model_name.human}列表",:class => "tipsy"  %>
      </li>
      <%if self.respond_to?("search_#{controller_name.tableize}_path")%>
        <li><%= link_to image_tag("application-search-result.png",:alt => "查询#{resource_class.model_name.human}"),self.send("search_#{controller_name.tableize}_path"),:title => "查询#{resource_class.model_name.human}",:class => "fancybox tipsy" %></li>
      <%end%>
    <%end%>
    <%if params[:action] == "show" or params[:action] == 'process_handle'%>
      <%if can? :reach,resource and resource.shipped?%>
        <li>
          <%= link_to image_tag("auction-hammer--arrow.png",:alt => "到货确认") , process_handle_arrive_load_list_path(resource),:title => "到货确认",:class => "tipsy"  %>
        </li>
      <%end%>
      <li>
        <%= link_to image_tag("document-excel-table.png",:alt => "导出为EXCEL"), export_excel_arrive_load_list_path(resource),:title => "导出为EXCEL",:class => "btn_export_excel tipsy"  %>
      </li>
    <%end%>
  </ul>
</div>   
