<div class="block">
  <%= render "shared/dynamic_toolbar" %>
  <div class="content">            
    <h2 class="title">修改运单</h2>
    <div class="inner">
      <%= render "shared/carrying_bills/form",:bill => @computer_bill %>
    </div>
  </div>
  <%= render "shared/dynamic_toolbar" %>
</div>
