<div id="orgs_table">
  <ul id="orgs_list">
    <li class='ui-treeList-open'>
      <%=IlConfig.client_name%>
      <%if can? :create,Org%>
        <div class='float-right org-operates'> 
          <%= link_to image_tag('bank--plus.png'), new_branch_path(:format => :js),:title => "添加分理处/分公司",:class => 'tipsy fancybox' %>
          <%= link_to image_tag('chair--plus.png'), new_department_path(:format => :js),:title => "添加科室",:class => 'tipsy fancybox' %>
        </div>
      <%end%>
      <%Org.search(:parent_id_is_null => 1).each do |child_org|%>
        <%= render "orgs_recursive",:org => child_org %>
      <%end%>
    </li>
  </ul>
</div>

