<div id="orgs_table">
  <ul id="orgs_list">
    <li class='ui-treeList-open'>
      <%=IlConfig.client_name%>
      <%@orgs.select {|org| org.parent_id.blank?}.each do |child_org|%>
        <%= render "orgs_recursive",:org => child_org %>
      <%end%>
    </li>
  </ul>
</div>

