<div class='actions-bar'>
  <input type='text' size="10" class="search_box" data-params = '{"search[state_ni][]" : ["billed","loaded","shipped","reached"],"search[type_in][]" : ["ComputerBill","HandBill"],"search[from_short_carrying_fee_or_to_short_carrying_fee_gt]" : 0,"show_multi" : 1,  "hide_fields" : ".insured_fee","show_fields" : ".from_short_carrying_fee,.to_short_carrying_fee"}'/>
</div>
<hr />
<%= render "shared/carrying_bills/table_no_paginate" %>
