<h1>Listing hand_bills</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hand_bills.each do |hand_bill| %>
  <tr>
    <td><%= link_to 'Show', hand_bill %></td>
    <td><%= link_to 'Edit', edit_hand_bill_path(hand_bill) %></td>
    <td><%= link_to 'Destroy', hand_bill, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hand bill', new_hand_bill_path %>
