<div class="block">
  <%= render_partial_or_default "dynamic_toolbar" %>
  <div class="content">          
    <h2 class="title"><%=resource_name%></h2>
    <div class="inner">
      <div id='table_wrap'><%= render_partial_or_default 'table' %></div>
    </div>
  </div>
  <%= render_partial_or_default "dynamic_toolbar" %>
</div>
