<%= form_for(@hand_transit_bill) do |f| %>
  <% if @hand_transit_bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hand_transit_bill.errors.count, "error") %> prohibited this hand_transit_bill from being saved:</h2>

      <ul>
      <% @hand_transit_bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
