<h1>Listing return_bills</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @return_bills.each do |return_bill| %>
  <tr>
    <td><%= link_to 'Show', return_bill %></td>
    <td><%= link_to 'Edit', edit_return_bill_path(return_bill) %></td>
    <td><%= link_to 'Destroy', return_bill, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Return bill', new_return_bill_path %>
