<div class='actions-bar'>
  <input type='text' size="10" class="search_box" data-params = '{"search[state_eq]" : "transited","search[type_in][]" : ["TransitBill","HandTransitBill"],"hide_fields" : ".insured_fee,.carrying_fee","show_fields" : ".carrying_fee_th,.transit_hand_fee,.transit_carrying_fee,.agent_carrying_fee,.th_amount"}'/>
</div>
<hr />
<div id="table_wrap"></div>
