/* Override here any style defined by web-app-theme */
#main {float : right;}
#sidebar {float : left;}
/* reset */

/* layout */
.text-right {text-align : right;}
.text-center {text-align : center;}
.float-left {float : left;}
.float-right {float : right;}

/* type */

/* color */

/*排序图标*/
th .current_sort_column {  
  padding-right: 20px;  
  background-repeat: no-repeat;  
  background-position: right center;  
}  
th .asc {   
  background-image: url(/images/sort--plus.png);   
}  
  
th .desc {   
  background-image: url(/images/sort--minus.png);   
}  
