/* Override here any style defined by web-app-theme */
/* reset */
#main{
  float : right;
  width : 80%;
}
#sidebar{
  float : left;
  width : 16%;
}
/* layout */
.text-right {text-align : right;}
.text-center {text-align : center;}
.float-left {float : left;}
.float-right {float : right;}
.box {padding : 5px;}
.with-bb{border-bottom : 1px solid #DDDDDD;}
.with-tb{border-top : 1px solid #DDDDDD;}

/* table 样式覆盖*/
.table thead tr{
  background-color: #D9FFD9;
  border-top: 1px solid     black;
  border-bottom: 1px solid black;
}

.table tfoot tr{ background-cssolor: #FFFFFF;}
.table thead th{
  padding: 0.5em;
  white-space: nowrap;
}
.table tfoot th{
  font-size: 110%;
  text-align: right;
  padding-rightt: 0.5em;
  letter-spacing: 1px;
}
.table tfoot td{
  paddinging-left: 0.5em;
  color: red;
  font-size: 110%;
  font-weight: 600;
}

.table tfoot td:hover {
  background-color: red;
  color: white;
}

.table tr{background-color: #EAFDFF;}
.table tr.odd{background-color: #FFFFFF;}
.table tbody tr:hover{background-color: #FFCCCC;cursor : pointer;}
  
.table td, .table th{border: 1px dotted #CCCCCC;}
.table tbody td{padding: 0.5em;}
.table td  a:link,.table th a:link{color: black;}
.table td a:visited, .table th a:visited{
  color: black;
  text-decoration: line-through;
}
.table td a:hover,.table th a:hover{
  color: purple;
  text-decoration: underline;
}
.table td:last-child a:hover{
  color: red;
  text-decoration: underline overline;
}

/*error display*/
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  position: relative;
  border: 2px solid red;
  padding : 5px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  margin : 0;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  color: #c00;
}

#errorExplanation p { padding : 10px;}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  left : 15px;
  position : relative;
  border : 1px;
}

/*角色功能列表样式*/
#role_system_functions_list div {padding : 5px;}
#role_system_functions_list h3 {padding : 5px;}
#role_system_functions_list h4 {
  font-size : 1em;
  margin : 0;
  padding : 5px;
}
/*角色部门列表样式*/
#role_orgs_list li {padding : 5px;}

#role_tab{
  font-size : 14px;
  position:relative;
  float:left;
  width:100%;
  margin:0;
  list-style:none;
  line-height:1em;
}
 
#role_tab li {
  float:left;
  margin:0;
  padding:0;
}
 
#role_tab a {
  display:block;
  color:#444;
  text-decoration:none;
  font-weight:bold;
  background:#ddd;
  margin:0;
  padding:0.25em 1em;
  border-left:1px solid #fff;
  border-top:1px solid #fff;
  border-right:1px solid #aaa;
}
 
#role_tab a:hover,
#role_tab a:active,
#role_tab a.here:link,
#role_tab a.here:visited {
  background:#bbb;
}
 
#role_tab a.here:link,
#role_tab a.here:visited {
  position:relative;
  z-index:102;
}

/* type */
small-font {font-size : 0.8em;}
normal-font {font-size : 1em;}
big-font {font-size : 1.2em;}
bigger-font {font-size : 1.5em;}
.tipsy {font-size : 1em;}
/*watermark style*/
.watermark {
  color : gray;
  font-style : italic;
}
.search_box_return_bill,.search_box {
  width : 200px;
  height : 20px;
  text-indent : 20px;
  background :  url(/images/magnifier-left.png) no-repeat left center ;
}

/* color */

/*排序图标*/
th .current_sort_column {  
  padding-right: 20px;  
  background-repeat: no-repeat;  
  background-position: right center;  
}  
th .asc {   
  background-image: url(/images/sort--plus.png);   
}  
  
th .desc {   
  background-image: url(/images/sort--minus.png);   
}  
