/* Override here any style defined by web-app-theme */
/* reset */
#main {float : right;}
#sidebar {float : left;}


/* layout */
.text-right {text-align : right;}
.text-center {text-align : center;}
.float-left {float : left;}
.float-right {float : right;}
.box {padding : 5px;}

/*error display*/
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  position: relative;
  border: 2px solid red;
  padding : 5px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  margin : 0;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  color: #c00;
}

#errorExplanation p { padding : 10px;}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  left : 15px;
  position : relative;
  border : 1px;
}

/* type */
small-font {font-size : 0.8em;}
normal-font {font-size : 1em;}
big-font {font-size : 1.2em;}
bigger-font {font-size : 1.5em;}
.tipsy {font-size : 1em;}
/*watermark style*/
.watermark {
  color : gray;
  font-style : italic;
}
.search_box {
  width : 200px;
  height : 20px;
  background :  url(/images/magnifier-left.png) no-repeat 180px ;
}

/* color */

/*排序图标*/
th .current_sort_column {  
  padding-right: 20px;  
  background-repeat: no-repeat;  
  background-position: right center;  
}  
th .asc {   
  background-image: url(/images/sort--plus.png);   
}  
  
th .desc {   
  background-image: url(/images/sort--minus.png);   
}  
